#left-design{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-design .line1{
    font-size: 52px;
    color:antiquewhite;
}
#left-design .line2{
    font-size: 42px;
    color:white;
}
