*{
    box-sizing: border-box;
}
.container{
    width: 1000px;
    height: 700px;
    margin: auto;
    border: 1px black solid;
    background-color: black;
}
.firstrow{
    width: 90%;
    height: 17%;
    margin: auto;
    margin-top: 20px;
   
    background-color: silver;
    
}
.secondrow{
    width: 90%;
    height: 17%;
    margin: auto;
    margin-top: 20px;
    
}
.one{
    height: 90%;
    width: 22%;
    margin:0px;
   
    display: inline-block;
    margin-top: 1%;
    background-color: silver;
    
}
.two{
    height: 90%;
    width: 22%;
    margin:0px;
   
    display: inline-block;
    margin-left: 26px;
    background-color: silver;
    
}
.three{
    height: 90%;
    width: 22%;
    margin:0px;
   
    display: inline-block;
    margin-left: 26px;
    background-color: silver;
}
.fourth{
    height: 90%;
    width: 22%;
    margin:0px;
   
    display: inline-block;
    margin-left: 43.5px;
    background-color: silver;
}
.thirdrow{
    width: 90%;
    height: 34%;
    margin: auto;
    margin-top: 20px;
  
}
.bodyy{
    height: 100%;
    width: 47%;
    margin:0px;
    
    display: inline-block;
    background-color: silver;
}
.upperleft{
    width: 22%;
    height: 45%;
    display: inline-block;
    margin: auto;
   
   vertical-align: top;
   margin-left: 29px;
   background-color: silver;
    
}
.upperright{
    width: 22%;
    height: 45%;
   display: inline-block;
    margin: auto;
    vertical-align: top;
    margin-left: 43.5px;
   background-color: silver;
    
    
    
}
.left{
    width: 22%;
    height: 45%;
    display: inline-block;
    margin: 0px;
   
    position: relative;
    left: 460px;
    bottom: 110px;
    background-color: silver;
    
   
}
.right{
    width: 22%;
    height: 45%;
    display: inline-block;
    margin:0px;
   bottom: 110px;
   left:500px ;
    
    position: relative;
    background-color: silver;
   
   
    
}


.lastrow{
    width: 90%;
    height: 17%;
    margin: auto;
    margin-top: 20px;
    
    background-color: silver;
}

