body{
    width: 500px;
    height: 300px;
}
.container{
    background-color:yellowgreen;
    font-size: medium;

    
    
}
.one,.two,.three 
{
    background-color: yellowgreen;
    width:30%;
}

.item1,.item2,.item3{
    float: right;

    width: 33%;
}
.itm1,.itm2,.itm3
{

    width: 30%;
    
}
h2{
    font-size: x-large;
    color: whitesmoke;
    font-family:  Helvetica;
}
h1{
    font-size: xx-large;
    color: whitesmoke;
    font-family:Helvetica;
}