.content{
    width: 1500px;
    height: 1000px;
    background-color:#f5f6fa;
}
.header{
    width: 100%;
    height: 20%;
    position: relative;
    background-color: #0097e6;
}
.section{
    width: 100%;
    height: 70%;
    position: relative;
    background-color: #8c7ae6;
    top: 20px;
}
.img{
    width: 20%;
    height: 30%;
   
    position: relative;
    left: 100px;
    top: 20px;
}
.article1{
    width: 60%;
    height: 30%;
    
    position: relative;
    left: 500px;
    bottom: 200px;
   
}
.article2{
    width: 90%;
    height: 50%;
    position: relative;
    
    bottom: 100px;
    left: 100px;
    
}
#menu{
    height: 100%;
    width: 100%;
    
    border: 2px black solid;
    position: relative;
}
#menu > ul{
    height: 30%;
    width: 50%;
    background-color: #0097e6;
    top: 110px;
    left:350px
}
#menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}
#menu ul a{
    color: #192a56;
    padding: 0 15px;
    font-size: 35px;
    display: block;
}
#menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 5;
}
#menu ul li:hover{
    background-color:#c23616 ;

}
#menu ul ul{
    position: absolute;
    background-color:#0097e6 ;
    top: 100%;
    left:0;
    display: none;
}
#menu ul ul li{
    float: none;
    width: 200px;

}
#menu ul li:hover > ul{
    display: block;

}