
html{
    border-style: solid;
    border-color: darkorange;
    border-width: 8px;
    
}
.personaldetails{
    width: 500px;
    display: inline-block;
    
    

}
.image{
       width: 10%;
       height: 100px;
       float: right;
    }
   .details{
       
       width:50%;
       height: 100px;
       margin-bottom: 20px;
       
      

   }
    
    
   

