*{
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: auto;
    
    
    background-color: lightblue;
}
.body{
    width: 100%;
    margin: auto;
   
    
    background-color: lightpink

}
.title{
    width: 69.09%;
    margin:0px;
   background-color:lightgreen;
   
    display: inline-block;
}
.up{
    width: 98%;
    margin: 3px;
    margin-left: 6px;
    margin-top: 10px;
    
    background-color: white;
}
.down{
    width: 98%;
    margin: 3px;
    margin-left: 6px;
  
    background-color: white;
}
.aside{
    width: 30.5%;
   
    display: inline-block;
   
    vertical-align: top;
    
    
    
    

}