* {
    box-sizing: border-box;
}
.container {
    width: 1200px;
    height: 1500px;
    margin: auto;
    border: 2px #000000 solid;
    background-color:lightgray;
}
.header{
    width: 100%;
    height: 5%;
    margin: auto;
    border: 2px black solid;
    background-color: darkgray;
    
}
#menu{
    display: inline-block;
}
#menu > ul{
    height: 100%;
    width: 100%;
    background-color: white
}
#menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding-top: 10px;
    float: left;
}



#menu ul a{
    color:black;
    padding: 0 15px;
    font-size: 35px;
    display: inline-block;
}
#menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
   
    
}
#menu ul li:hover{
    background-color:blue ;
   

}

.lgin{
    display: inline-block;
    width: 30%;
    height: 99%;
    position: relative;
    margin: auto;
    background-color:darkgray;
    bottom:40px;
    text-align: center;
    padding-top: 15px;
}

.upperbody{
    width: 100%;
    height: 70%;
    margin: auto;
    border: 1px black solid;

}
.firstbox{
    text-align: center;
    
    width: 80%;
    height: 35%;
    margin: auto;
    border: 2px black solid;
    margin-top: 20px;
    background-color: whitesmoke;
}
.dotbox{
    width: 100%;
    height: 20%;
   
    margin-top: 70px;
}
.dot{
    height: 20px;
    width: 20px;
    background-color:lightgray;
    border-radius: 50%;
    display: inline-block;
    
    border: 1px black solid;
   position: relative;
}

.secbox{
    width: 60%;
    height: 60%;
    margin: auto;
    border: 2px black solid;
    margin-top: 20px;
    background-color: whitesmoke;
}
.aside1{
    width: 60%;
    height: 100%;
    margin:auto;
   padding-top: 20px;
    border-right: 2px black solid;
    display: inline-block;
    margin-bottom: 200px;
    vertical-align: top;
}
.box1{
    width: 40%;
    height: 35%;
    margin: auto;
   margin-left: 20px;
    
    display: inline-block;
}
.box2{
    width: 40%;
    height: 35%;
  
    margin: auto;
    margin-left: 20px;
    
    display: inline-block;
}
.box3{
    width: 40%;
    height: 35%;
    margin: auto;
    margin-left: 20px;
   
    display: inline-block;
}
.box4{
    width: 40%;
    height: 35%;
    margin: auto;
    margin-left: 20px;
    
    display: inline-block;
    
}
.image{
    width: 25px;
    height: 25px;
}
.aside2{
    width: 39%;
    height: 100%;
    margin: auto;
   padding-top: 20px;
    display: inline-block;
    padding-left: 20px;
    
   
}
.event{
     width:80% ;
     height: 20%;
     margin: auto;
     border: 1px black solid;
     vertical-align: bottom;
}
.bangalore{
    width: 100%;
    height: 33%;
    margin: auto;
    padding-top: 5px;
    

}
.tokyo{
    width: 100%;
    height: 33%;
    margin: auto;
    

}
.brazil{
    width: 100%;
    height: 33%;
    margin: auto;
   
    

}
.bangalore:hover{
    background-color:skyblue;
}
.tokyo:hover{
    background-color:skyblue;
}
.brazil:hover{
    background-color:skyblue;
}
.lowerbody{
    width: 100%;
    margin: auto;
    border: 2px black solid;
    background-color:white;
    height: 25%;
}
.aboutus{
    width: 20%;
    margin: auto;
    display: inline-block;
    height: 75%;
   margin-top: 20px;
    margin-left: 110px;
}
.markets{
    width: 20%;
    margin: auto;
    display: inline-block;
    height: 75%;
   
}

.platforms{
    width: 20%;
    margin: auto;
    display: inline-block;
    height: 75%;
   
}
.contactus{
    width: 20%;
    margin: auto;
    display: inline-block;
    height: 75%;
    margin-top: 20px;
    vertical-align: top;
    
}
.footer{
    width: 80%;
    height: 19%;
    margin: auto;
   
    
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.global{
    width: 15%;
    height: 40%;
    margin: auto;
    border: 1px black solid;
   background-color:lightgrey;
   position: relative;
   left: 350px;
   bottom: 30px;
   text-align: center;
   border-radius: 40px;
}
