*{
    box-sizing: border-box;
}
.container{
    width: 1000px;
    height: 1000px;
    margin: auto;
    background-color: black;
    border: 5px black solid;
}
.aside
{display: inline-block;
    width: 20%;
    margin:0;
    border: 1px black solid;
    height: 80%;
   
}
.up{
    width: 100%;
    height: 40%;
    display: inline-block;
    margin: auto;
    background-color: silver;
}
    .down{
        width: 100%;
        height: 52%;
        display: inline-block;
        margin: auto;
       background-color: silver;
        vertical-align: bottom;
        margin-top: 40px;
    
}
.red{
    display: inline-block;
    width: 78%;
    height: 78%;
    margin:0; 
    margin-left: 13px;
   
    vertical-align: top;
    background-color: red;
}
.footer{
    width: 100%;
    height: 19%;
    margin: auto;
    display: inline-block;
    border: 1px black solid;
}
.blue{
    width: 20%;
    height: 99%;
    margin: auto;
   
    display: inline-block;
    background-color: royalblue;
}
.centre{
    display: inline-block;
    width: 75%;
    height: 99%;
    margin: auto;
   
    margin-left: 13px;
    background-color: silver;

}
.chotu1{
   width: 1.5%;
   height: 35%;
   position: relative;
   left: 973px;
   bottom: 188px;
   background-color: silver;
  
    
   
    
}
.chotu2{
    width: 1.5%;
    height: 35%;
    position: relative;
   background-color: yellow;
    left: 973px;
    bottom: 180px;
    margin-top: 45px;
     
    
     
 }