
body{
    display: inline-block;
    width: 1510px;
    height: 800px;
    border:1px darkgray solid;
     
}
.aside{
    width: 15%;
    height: 800px;
    background-color: darkcyan;
    position: absolute;
}
.content{
    width: 90%;
    height: 100%;
    position: relative;
    background-color: black;
    left: 300px;
}
.pinned{
    width: 40%;
    height: 20px;
    position: absolute;
    left: 420px;
    top: 10px;
    background-color: skyblue;
}
.sec1{
    display: inline-block;
    width: 40%;
    height: 380px;
    position: absolute;
    left: 420px;
    top: 25px;
    background-color: silver;
    
}
.boyy{
    width: 50px;
    height: 50px;
    float: right;
}
.recent{
 width: 40%;
height: 20px;
position: absolute;
left: 420px;
top: 405px;
background-color: skyblue;
}
.sec2{
    display: inline-block;
    width: 40%;
    height: 380px;
    position: absolute;
    left: 420px;
    top: 425px;
    background-color:silver;
}
.ind{
    height: 50px;
    width: 50px;
    float: right;

}
.css{
    background-color:lightcoral;
}

    







