body{
    width: 2000px;
    height: 1000px;
    border: 2px  black solid ;
    }
.header{

    width: 100%;
    height: 20%;
    border-bottom: 5px black solid ;
    

}


.bold{
    display: inline-block;
    width: 50%;
height: 100%;
position: relative;
padding-bottom: 20px;

}
.headside{
    display: inline-block;
    width: 30%;
    height: 100%;
    position: relative;
    padding-bottom: 20px;
   
    
   
    
}
.sites{
    display: inline-block;
    width: 70%;
height: 2%;
position: relative;
padding-bottom: 20px;

}
.search{
    display: inline-block;
    width: 30%;
    height: 2%;
    position: relative;
    margin-left: 1500px;
    
}


.box{
    width: 100%;
    height: 20%;
    background-color: aquamarine;
    position: relative;
    border: 1px black solid;
    text-align: center;
}

.news{
    width: 100%;
    height: 80%;
    background-color: lightblue;
    position: relative;
}
.aside{
    width: 30%;
    height:100%;
    position: relative;
    background-color: lightblue;
}
.first{
    width: 100%;
    height:30%;
    position: relative;
    background-color: white

}
.second{
    width: 100%;
    height: 30%;
    position: relative;
    background-color: white;
    left: 0px;
    bottom: 20px;

}
.third{
    width: 100%;
    height: 30%;
    position: relative;
    background-color:white;
    left: 0px;
    margin-bottom: 0px;

}



.container{
    width: 70%;
    height: 100%;
    position: absolute;
   background-color: lightblue;
    right: 0px;
    bottom: 0px;
}





.container-fourth{
   
    width: 60%;
    height: 60%;
    position: relative;
    background-color:lightpink;
   left:10px;
   bottom: 0px;
font-size: 4px ;
   
}

    .container-fifth{
        width: 35%;
        height: 50%;
        position: relative;
        background-color:lightgray;
        left: 880px;
        bottom: 460px;
       
    }

        .container-sixth{
            width: 30%;
            height: 35%;
            position: relative;
            background-color:lightgreen;
            left: 10px;
            bottom:420px;
           
        }
        .container-seventh{
            width: 35%;
            height:40%;
            position: relative;
            background-color: lightyellow;
            left: 870px;
            bottom: 760px;

        }
       .container-eght{
           width: 29%;
           height: 30%;
           position: relative;
           background-color: lightgoldenrodyellow;
           left: 455px;
           bottom: 1010px;
       }
       .center{
           width: 80%;
           height:30%;
           float: center;
           position: relative;
       }

        
      
        
       
        