
.container{
    width: 1000px;
    height: 700px;
    background-color:lightblue;
    
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;
    
    
}
.header{
    display: inline-block;
    width: 800px;
    height: 200px;
    background-color: lightgray;
    position: relative;
    border-radius: 50px;
    left: 90px;
    top: 20px;
    border: 5px black solid;
}


.logo{
   width: 11%;
   height: 45%;
   background-color: lightseagreen;
   position: relative;
   top: 50px;
   background: url("logo.jpg");
   border-radius: 30px;
   
  }
  
  .img{
      border-radius: 30px;
  }
 .cname{
    font-size: 50px;
    position: relative;
   text-align: center;
   bottom: 20px;
    
}
.aside{
    width: 20%;
    height: 60%;
    position: relative;
    background-color: lightpink;
    left: 90px;
    top: 50px;
    border-radius:20px ;
    border: 5px black solid;
    padding-left: 15px;
}
.intro{
width: 60%;
height:60%;
position: relative;
background-color: lavenderblush;
left: 320px;
border-radius:20px ;
bottom: 380px;
border:5px black dashed ;
overflow-y: scroll;
padding-left: 15px;
font-size: 30px;

}
 