.container{
    width: 1000px;
    height: 700px;
    background-color:lightblue;
    
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;
    
}
.header{
    display: inline-block;
    width: 800px;
    height: 200px;
    background-color: lightgray;
    position: relative;
    border-radius: 50px;
    left: 90px;
    top: 20px;
    border: 5px black solid;
}

    .logo{
        width: 11%;
        height: 45%;
        background-color: lightseagreen;
        position: relative;
        top: 50px;
        background: url("logo.jpg");
        border-radius: 30px;
   
    }
    
    .img{
        border-radius: 30px;
      
    }



.cname{
    font-size: 50px;
    position: relative;
   text-align: center;
   bottom: 40px;
    
}
.body{
    width: 78%;
    height:60%;
    position: relative;
    
    top: 50px;
    left: 100px;
    border: 2px black solid;
    border-radius: 10px;
}
.inside{
    width:40%;
    height: 80%;
    background-color: lightblue;
    position: absolute;
    right: 0px;
    bottom: 40px;
}
.img{
    height: 100%;
    width: 100%;
    position: relative;
}
.content{
    width: 50%;
    height: 98%;
    bottom: 0px;
    background-color:lightpink;
    position: relative;
}