
.container{
    width: 1000px;
    height: 700px;
    background-color:lightblue;
    
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;
   
    
}
.header{
    display: inline-block;
    width: 800px;
    height: 200px;
    background-color: lightgray;
    position: relative;
    border-radius: 50px;
    left: 90px;
    top: 20px;
    border: 5px black solid;
}


.logo{
   width: 11%;
   height: 45%;
   
   background-color: lightseagreen;
   position: relative;
   top: 50px;
   background: url("logo.jpg");
   border-radius: 30px;
   
  }
  
  .img{
      border-radius: 30px;
  }
 .cname{
    font-size: 50px;
    position: relative;
   text-align: center;
   bottom: 20px;
    
}
.bodie{
    width: 80%;
    height: 60%;
    position: relative;
left: 100px;
top: 40px;
    background-color:lightpink;
    border: 2px black solid;
    border-radius: 10px;
    padding-left: 30px;
}
.insidecontent{
    width: 50%;
    height: 50%;
    position: relative;
    background-color:lightslategrey;
    left: 200px;
    top: 100px;
    text-align: center;
}
